body {
  font-size: 12px;
  background-color: #eaedee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
header {
  background-color: white;
}
header > div {
  margin: auto;
  margin-bottom: 100px;
  height: 110px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  width: 424px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}
header button {
  border: 1px solid #2db0ba;
  border-radius: 5px;
  width: 110px;
  height: 25px;
  font-size: 12px;
  background-color: white;
}
.bleu {
  background-color: #2db0ba;
}
header img {
  height: 45px;
  width: 104px;
}
/* MAIN */
article {
  padding: 0 6px 16px;
  width: 235px;
}
.hero-section-container {
  margin: auto;
  border: 1px solid rebeccapurple;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}
.hero-section-container img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}
.avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* OFFER */
.container-offer {
  margin: auto;
  border: 1px solid turquoise;
  width: 1090px;
  display: flex;
  justify-content: space-between;
}
.container-offer img {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.offer-info {
  width: 400px;
  background-color: white;
  padding: 40px;
}

.description img {
  width: 50px;
  height: 50px;
}
h1 {
  font-size: 16px;
}

/* PAGE SIGNUP */
.form-container {
  margin: auto;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  border: none;
  outline: none;
  background-color: #eaedee;
  border-bottom: 1px solid #fcced3;
}
.submit {
  background-color: #2db0ba;
  width: 270px;
  height: 45px;
  border-radius: 10px;
  color: white;
}
.form-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* PAGE PUBLISH */

.file-select {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
  padding: 24px;
}

.text-input-section {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
h2 {
  font-size: 20px;
}
